<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="myOrg" class="com.diego.springdemo.domain.Organization">
        <constructor-arg value="Amazon" name="companyName"/>
        <constructor-arg value="1994" name="yearOfIncorporation"/>
        <property name="postalCode" value="00000"/>
        <property name="employeeCount" value="7500"/>
        <property name="slogan" value="Work hard, have fun, make history"/>
        <property name="businessService" ref="ecommerceService"/>
    </bean>
    <bean id="cloudService" class="com.diego.springdemo.serviceImpl.CloudServiceImpl">
    </bean>
    <bean id="ecommerceService" class="com.diego.springdemo.serviceImpl.EcommerceServiceImpl">
    </bean>
    <context:component-scan base-package="com.diego.springdemo"/>
</beans>